body {
    width: 100%;
    padding-left: 0;
    margin: 0;
    background: #193549;
    /* background: #333333; */
    overflow-x: hidden;
    /* border: 1px solid red; */
}

nav {
    /* font-size: 150%; */
    padding: 1rem;
    /* position: sticky; */
    /* border: 1px solid red; */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 120%;
}

nav li:first-child {
    flex-basis: 100%;
    /* border: 1px solid red; */
    padding-bottom: 0px;
    text-align: center;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: red;
}

nav h1 [class*="fa-s"] {
    font-size: 100%;
    color: aqua;

}

nav h1:hover {
    color: aqua;
}

nav [class*="fa-"] {
    font-size: 200%;
    /* color: aqua */
}

.button {
    border: 1px solid rgb(183, 0, 255);
    padding: 4px;
    background: rgb(183, 0, 255);
    border-radius: 3px;
}

.button:hover {
    transform: scale(2);
    color: white;
    background: rgb(4, 16, 124);
}

footer {
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 2em 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 2.5rem;
    /* float: inline-end; */
    color: white;
}

footer h4 {
    flex-basis: 100%;
    color: white;
    /* border: 1px solid red; */

}



#About {
    padding: 4rem 1rem 10rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

#About p {
    color: white;
    font-size: 150%;
}

#About p span {
    color: aqua;
    font-size: 150%;

}

#About p .certification {
    font-size: 100%;
}

#About h3 {
    color: white;
}

.section-background {
    background-color: rgb(92, 17, 62);
    width: 100%;
}

.gradient {
    height: 2px;
    /* background: linear-gradient(94deg, rgba(2, 0, 36, 1) 0%, rgba(212, 10, 163, 1) 34%, rgba(6, 255, 173, 1) 100%); */
    /* background: linear-gradient(68deg, rgba(2, 0, 36, 1) 0%, rgba(50, 10, 212, 1) 34%, rgba(142, 249, 25, 1) 100%); */
    background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(177, 39, 39, 1) 34%, rgba(11, 246, 204, 1) 100%);
}

.Projects {
    /* background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae); */
    /* background: rgb(185, 24, 24); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;
    padding: 20px;

}

.Project {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    /* border: 2px solid yellow; */
    align-items: center;
    color: white;
    grid-gap: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 50px 50px 50px 50px;
}

.project-details {
    display: grid;
    justify-items: right;
    grid-column: 10/21;
    grid-row: 1/2;
}

.description {
    background: rgb(12, 2, 49);
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    font-size: 80%;
    /* grid-column: 2/-1; */
}

h4 {
    padding: 5px 5px;
    margin: 0;
}

.Project ul {
    list-style-type: none;
    display: flex;
    /* border: 1px solid red; */

    gap: 10px;
    /* padding: 0px; */
    margin: 0px;
}

.images {
    width: 100%;
    border-left: 3px solid rgb(12, 2, 49);
    border-top: 3px solid rgb(12, 2, 49);
    padding: 10px;
    border-radius: 20px;
    grid-column: 1/11;
    grid-row: 1/2;
}

.heading {
    grid-column: 1/-1;
    color: white;
    font-size: 150%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}










#Contact {
    padding: 2rem 0;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    /* background-color: purple; */
}

#Contact p {
    color: white;
    font-size: 150%;
    padding-bottom: 20px;

}


#Contact p:first-child {
    color: white;
}

.Contact-button {
    text-decoration: none;
    border: 1px solid rgb(83, 69, 78);
    padding: 4px;
    background: rgb(83, 69, 78);
    border-radius: 3px;
    margin-top: 2rem;
    color: white;
}

.Contact-button:hover {
    background: rgb(4, 16, 124);
    color: white;
}


@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }

    /* .Project {
        /* max-width: 800px; */
    /* justify-content: center; */

    /* } */


    .Projects {
        justify-content: center;
        align-items: center;

    }
}

@media (max-width: 375px),
(max-width:415px) {
    nav li {
        font-size: 60%;
        justify-content: center;
    }

    #About p,
    h3 {
        font-size: 100%;
        justify-content: center;
    }

    .Projects h2 {
        font-size: 80%;
    }

    .Projects {
        display: flex;
        flex-direction: column;
    }

    .Project {
        display: flex;
        flex-direction: column;

    }


    .project-details {

        justify-items: left;
        grid-column: 10/21;
        grid-row: 1/2;
    }

    .description {
        background: rgb(12, 2, 49);
        padding: 5px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        font-size: 80%;
    }

    .section-background {
        background-color: rgb(92, 17, 62);
        width: 100%;
    }


    #Contact {
        font-size: 60%;
        display: flex;
        flex-direction: column;
        max-width: 300px;

    }

    .Contact-button {
        max-width: 100px;
        margin: 0 auto;
    }

    footer h4 {
        font-size: 60%;
    }

    footer li a {
        display: flex;
        font-size: 60%;
        margin-bottom: 30px;
    }

}

/* Learn CSS GRID and DO THE REST */

/* Learn CSS GRID and DO THE REST */
